body {
      margin: 0;
      padding: 0;
      height: 100vh;
      position: relative;
      overflow-x: hidden;
      font-family: Arial, sans-serif;
      background-image: url("./assets/gunung.jpg");
        background-size: 100% 100%;
        background-position: center;
}

.menu {
  display: inline-block;
  background-color: #564AA8;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  font-size: 1.1em;
  width: 150px;
  text-align: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
}

.menu:nth-child(1) { top: 80px; left: 50px; }
.menu:nth-child(3) { top: 80px; left: 500px; }
.menu:nth-child(5) { top: 80px; left: 1000px; }

.dropdown {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.submenu {
  display: none;
  position: absolute;
  top: 125px;
  left: 50px;
  background-color: black;
  padding: 10px;
  border-radius: 6px;
  min-width: 160px;
  z-index: 10;
}

.submenu:nth-child(2) { top: 125px; left: 50px; }
.submenu:nth-child(4) { top: 125px; left: 500px; }
.submenu:nth-child(6) { top: 125px; left: 1000px; }

.menu:hover + .submenu, .menu + .submenu:hover {
  display: block;
}

.submenu a {
  display: block;
  color: white;
  padding: 8px;
  text-decoration: none;
}

.submenu a:hover {
  background-color: #444;
}