body {
      margin: 0;
      padding: 0;
      height: 100vh;
      position: relative;
      overflow-x: hidden;
      font-family: Arial, sans-serif;
      background-image: url("./assets/gunung.jpg");
        background-size: 100% 100%;
        background-position: center;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: transparent;
  -webkit-text-stroke: 1px black;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
}

.menu:nth-child(1) { top: 80px; left: 50px; width: 120px; height: 60px; line-height: 50px; }
.menu:nth-child(3) { top: 80px; left: 500px; width: 150px; height: 60px; line-height: 50px; }
.menu:nth-child(5) { top: 80px; left: 1000px; width: 120px; height: 60px; line-height: 50px; }

.dropdown {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.submenu {
  display: none;
  position: absolute;
  background-color: black;
  padding: 10px;
  border-radius: 6px;
  min-width: 130px;
  z-index: 10;
}

.submenu:nth-child(2) { top: 141px; left: 50px; }
.submenu:nth-child(4) { top: 141px; left: 500px; }
.submenu:nth-child(6) { top: 141px; left: 1000px;}

.menu:hover + .submenu, .menu + .submenu:hover {
  display: block;
}

.submenu a {
  display: block;
  color: white;
  padding: 8px;
  text-decoration: none;
}

.submenu a:hover {
  background-color: #444;
}

.menu-text {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none;
  font-size: 1.1em;
  font-weight: bold;
  color: rgba(255,255,255,0.7);
  -webkit-text-stroke: 1px black;
}

.menu-img {
  display: block;
}

.menu:nth-child(1) .menu-img {
  width: 80px;
  height: 80px;
  margin-top: -25px;
}

.menu:nth-child(3) .menu-img {
  width: 40px;
  height: 40px;
  margin-top: -1px;
}

.menu:nth-child(5) .menu-img {
  width: 50px;
  height: 50px;
  margin-top: -7px;
}